$color-bg: #171717
$color-accent: #15A0D7
$color-accentDark: #23526c
$color-secondary: #001f3f
$color-tritary: #363e49

$color-lightestgrey: #efefef
$color-lightgrey: #dfdfdf
$color-mediumgrey: #777777
$color-grey: #363E49
$color-darkgrey: #232939
$color-white: #fff
$color-black: #000
$color-red: #F22613
$color-green: #66CC99
$color-yellow: #ff9800
$color-blue: #15A0D7
$color-teal: #7AE2DE
$color-tealdark: #2B9C9A
$color-transparent: rgba(0, 0, 0, 0)

$color-shadow: rgba(80, 90, 100, .2)

$color-service-facebook: #3b5998
$color-service-foursquare: #2d5be3
$color-service-github: $color-black
$color-service-swarm: #ff9c1c
