$bg: #171717
$accent: #15A0D7
$accentDark: #23526c
$secondary: #253F4E
$tritary: #363e49

$lightestgrey: #efefef
$lightgrey: #cdcdcd
$grey: #363E49
$white: #fff
$black: #000
$red: #F22613
$green: #66CC99
$blue: #15A0D7
$teal: #7AE2DE
$transparent: rgba(0, 0, 0, 0)
