@import '~styles/colors'

.services-view
  width: 100%
  .services-table
    background: $color-white
    .service-box
      flex-direction: column
      box-shadow: 0 1px 2px $color-shadow
      text-align: center
      transition: background-color .3s
      &:hover
        box-shadow: 0 1px 3px $color-shadow
        background: darken($color-white, 5%)
      .service-image
        max-height: 100px
        max-width: 100px
      .service-info
        flex: 1
      .service-expand-box
        display: flex
        flex: 1
        width: 100%
        background: $color-shadow
